
<div class="container m-5">
  <h1>Your booking details:</h1>

    <ul>
      <li>Status: <%= @booking.status %></li>
      <li>Start date: <%= @booking.start_date %></li>
      <li>End date: <%= @booking.end_date %></li>
      <li>Owner: <%= @booking.user.full_name %></li>
      <li>Car: <%= @booking.car.model %></li>
    </ul>

  <%= link_to "Show me the car", car_path(@booking.car),class: "btn btn-primary" %>
  <%= link_to "Back to all bookings", bookings_path,class: "btn btn-primary" %>

</div>
