<div class="navbar navbar-expand-sm navbar-lewagon navbar-light fixed-top">
  <div class="container">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo.jpg" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= form_with url: cars_path, method: :get, class: "d-flex mt-3 mt-md-0 me-md-3" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control me-1",
        placeholder: "Find a car"
      %>
        <%= button_tag type: 'submit', class: "btn btn-primary p-0", style: "width: 48px; height: 40px;" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Cars", cars_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Bookings", bookings_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown" style="cursor: pointer;">
            <div
              id="navbarDropdown"
              class="dropdown-toggle d-flex align-items-center"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                class="avatar"
                src="https://source.boringavatars.com/beam/40/<%= current_user.id %>"
              />
              <span class="ms-2"><%= current_user.full_name %></span>
            </div>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
                  <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
                </div>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Search for a car", cars_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item ms-2">
                <%= link_to "Register", new_user_registration_path, class: "btn btn-primary" %>
              </li>
            <% end %>
            <%= render "shared/theme_toggle" %>

          </ul>
        </div>
      </div>
    </div>
